<div
  [style.height.in]="heightInches"
  [style.width.in]="widthInches"
  [style.transform]="transform"
  [style.background-color]="'white'"
  class="preview-doc">
  
  <div class="summary-section">
    <div class="contact-info">
      <div class="name">
        <h1>
          {{ (sumService.summary$ | async)?.first_name }} {{ (sumService.summary$ | async)?.last_name }}
          
        </h1>
      </div>
      <div class="left">
        <ul class="list-unstyled">
          <li *ngIf="(sumService.summary$ | async)?.location">
            {{ (sumService.summary$ | async)?.location }}
          </li>
          <li *ngIf="(sumService.summary$ | async)?.email">
            {{ (sumService.summary$ | async)?.email }}
          </li>
          <li *ngIf="(sumService.summary$ | async)?.phone">
            {{ (sumService.summary$ | async)?.phone }}
          </li>
          <li *ngIf="(sumService.summary$ | async)?.github_handle ">
            github.com/{{ (sumService.summary$ | async)?.github_handle }}
          </li>
        </ul>
      </div>

      <div class="right">
        <ul class="list-unstyled">
          <li *ngIf="(sumService.summary$ | async)?.url">
            {{ (sumService.summary$ | async)?.url }}
          </li>
          <li *ngIf="(sumService.summary$ | async)?.alt_url">
            {{ (sumService.summary$ | async)?.alt_url }}
          </li>
          <li *ngIf="(sumService.summary$ | async)?.twitter_handle">
            twitter.com/{{ (sumService.summary$ | async)?.twitter_handle }}
          </li>
          <li *ngIf="(sumService.summary$ | async)?.linkedin_handle">
            linkedin.com/in/{{ (sumService.summary$ | async)?.linkedin_handle }}
          </li>


        </ul>
      </div>
    </div>

    <div class="objective">
      <div class="objective-heading">
        <div class="section-title">
          Objective
        </div>

        <div class="next-line"></div>
      </div>

      <div class="objective-statement">
        <div class="inner-wrapper">
          <div [innerHTML]="(sumService.summary$ | async)?.summary_objective"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects-section">
    <div class="section-heading">
      <div class="section-title">
        Projects
      </div>

      <div class="next-line"></div>
    </div>
  </div>
</div>