<div class="action-bar">
  <div class="action-bar-content">
    <div class="left-side">
      <div class="title">
        {{ title }}
      </div>
    </div>
  
    <div class="right-side">

      <a class="print">
        <i class="material-icons">print</i>
        <span>
          Print it!
        </span>
      </a>

      <ng-container *ngIf="button.secondary">
        <a class="secondary"
          (click)="onSecondaryClick(button.secondary)">
          <i class="material-icons">
            {{ button.secondaryIcon }}
          </i>
          <span>
            {{ button.secondary }}
          </span>
        </a>
      </ng-container>
  
      <ng-container *ngIf="button.primary">
        <a (click)="onPrimaryClick(button.primary)">
          <i class="material-icons">
            {{ button.primaryIcon }}
          </i>
          <span>
            {{ button.primary }}
          </span>
        </a>
      </ng-container>
    </div>
  </div>
</div>