<div class="action-bar">
  <div class="action-bar-content">
    <div class="left-side">
      <div class="title">
        {{ title }}
      </div>
      <ng-container *ngIf="showsSpinner">
        <app-spinner [spin]="true"></app-spinner>
      </ng-container>
    </div>
  
    <div class="right-side">
      <ng-container *ngIf="(printPrev.showsPreview$ | async)">
        <a
          (click)="printPrev.onBigger()"
          [ngClass]="(printPrev.sizeScale$ | async) == 'scale(1)' ? 'disabled' : ''">
          <i class="material-icons">
            add
          </i>
          <span>
            Bigger
          </span>
        </a>

        <a
          (click)="printPrev.onSmaller()"
          [ngClass]="(printPrev.sizeScale$ | async) == 'scale(0.7)' ? 'disabled' : ''">
          <i class="material-icons">remove</i>
          <span>
            Smaller
          </span>
        </a>
      </ng-container>

      <ng-container *ngIf="(printPrev.showsPreview$ | async)">
        <a
          (click)="printPrev.onHidePreview()"
          class="print close-viewer">
          <i class="material-icons">
            cancel
          </i>
          <span>
            Close Viewer
          </span>
        </a>
      </ng-container>

      <ng-container *ngIf="(printPrev.showsPreview$ | async)">
        <div class="bar-divider"></div>
      </ng-container>
      <ng-container *ngIf="!(printPrev.showsPreview$ | async)">
        <a [ngClass]="(printPrev.showsPreview$ | async) ? 'secondary disabled' : 'secondary' "
          (click)="printPrev.onShowPreview()">
          <i class="material-icons">
            file_open
          </i>
          <span>
            Doc Viewer
          </span>
        </a>
      </ng-container>



      <ng-container *ngIf="(printPrev.showsPreview$ | async)">
        <a [ngClass]="(printPrev.showsPreview$ | async) ? 'secondary disabled' : 'secondary' "
          (click)="printPrev.onShowPreview()">
          <i class="material-icons">
            file_open
          </i>
          <span>
            Doc Viewer
          </span>
        </a>
      </ng-container>
      
      <a class="print" (click)="onPrintClick($event)">
        <i class="material-icons">print</i>
        <span>
          Print it!
        </span>
      </a>

  
      <ng-container *ngIf="button.primary">
        <a (click)="onPrimaryClick(button.primary)">
          <i class="material-icons">
            {{ button.primaryIcon }}
          </i>
          <span>
            {{ button.primary }}
          </span>
        </a>
      </ng-container>
    </div>
  </div>
</div>
