<div class="guard">

  <div class="guard-content">
    <div class="alpha-tag">
      pre-alpha
    </div>
    <div class="title mb-1">
      <span class="">
        FinePrint
      </span>
      <span>
        Why isn't this on mobile?
      </span>
    </div>
    
    <div class="body">
      <span style="font-weight: 800">FinePrint</span> is a free web application for building print- and download-friendly docs with responsive templates that adjust themselves as they're populated.
      <br>
      <br>
      (not an ideal workflow for mobile)
    </div>

  </div>

  <div class="caption-block mt-5">
    <a class="ria-run-link" href="https://ria.run" target="_blank">
      Who developed this?
    </a>
  </div>
</div>

