<div class="guard">

  <div class="guard-content">
    <div class="alpha-tag">
      alpha
    </div>
    <div class="title">
      <span>
        FinePrint
      </span>
      <span>
        Why isn't this on mobile?
      </span>
    </div>
    
    <div class="body">
      <span style="font-weight: 700">FinePrint</span> is a free web application for creating print- and download-friendly docs with responsive templates that adjusts themselves as they're populated.
    </div>

  </div>

  <div class="caption-block mt-5">
    <a class="ria-run-link" href="https://ria.run" target="_blank">
      Meet the developer
    </a>
  </div>
</div>

