<app-action-bar
  [button]="button"
  [title]="'Work Experience'"
  [showsSpinner]="showsSpinner"
  (primaryClick)="onAddWork()"
  >
</app-action-bar>

<div class="clear-block">
  <a
    (click)="ws.onClear()"
    class="clear-all-btn">
    <i class="material-icons">clear_all</i>
    <span>
      Clear All
    </span>
  </a>
</div>

<!-- -------------------------------- FORM --------------------------------- -->
<div
  *ngFor="let work of works; let i = index;"
  class="form">
  <div *ngIf="works.length > 1" class="remove-item">
    <a (click)="onRemoveWork(work.id)">
      <i class="material-icons">cancel</i>
      <span>Remove</span>
    </a>
  </div>
  <!-- -------------------------- TITLE AND COMPANY -------------------------- -->
  <div class="double-row">
    <!--Title-->
    <div class="form-group">
      <label>Job title</label>
      <input
        name="jobTitle"
        (focusout)="onUpdate(); showsSpinner = true"
        [(ngModel)]="work.job_title"
        type="text">
    </div>

    <!--Company name-->
    <div class="form-group">
      <label>
        Company name
      </label>
      <input
        name="companyName"
        (focusout)="onUpdate(); showsSpinner = true"
        [(ngModel)]="work.company"
        type="text">
    </div>
  </div>

  <!-- ------------------------- START AND END DATES ------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        Start date
      </label>
      <input
        name="startDate"
        (focusout)="onUpdate(); showsSpinner = true"
        [(ngModel)]="work.start_date"
        type="date">
    </div>

    <!--End date-->
    <div class="form-group">
      <label>End date</label>
      <input
        name="endDate"
        (focusout)="onUpdate(); showsSpinner = true"
        [(ngModel)]="work.end_date"
        type="date">
    </div>
  </div>

  <!-- --------------------------------- URL --------------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        URL
      </label>
      <input
        name="url"
        (focusout)="onUpdate(); showsSpinner = true"
        [(ngModel)]="work.url"
        type="text">
    </div>
  </div>

  <label class="quill-label">
    <div class="line"></div>
    Duties & Responsibilities
  </label>
  <div class="flex-row nowrap align-end justify-end mt-1" style="width: inherit;">
    <small class="hint-grey">
      Separate each data point by converting it into a bullet point
    </small>
  </div>
  <quill-editor
    [style]="style"
    (focusout)="onUpdate(); showsSpinner = true"
    name="workDuties"
    [(ngModel)]="work.dutiesString"
    [modules]="modules">
  </quill-editor>

  <div *ngIf="works.length > 1" class="divider"></div>
</div>

<div #bottom></div>