
.toast {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 50px;
  min-width: 200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 5px 5px 12px #00000030;
  margin: 1.5rem;
  font-size: 1.4rem;
  font-weight: black;
  padding: 20px;

  .toast-content {
    width: inherit;
    height: inherit;

    .inner-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .material-icons {
          font-size: 1.7rem;
          width: 1.7rem;
          height: 1.7rem;
          display: inline-flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
          margin-left: 2.5rem;
          transition: 170ms ease-in-out;
        }

        &:hover {
          .material-icons {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
