@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../scss/variables.scss';

$caption: 1.5rem;
.print-preview {
  
  position: absolute;
  right: -5rem;
  bottom: -6rem;

  background-color: $ish-black;
  border-radius: 6px;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: -2px 2px 24px #00000040;
  cursor: all-scroll;
  
  .top-bar,
  .bottom-bar {
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    color: $steel-light;


    .instructions {
      height: inherit;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: $blood-orange-medium;
      color: white;
      background-color: $bondi-dark;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .close {
      height: inherit;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      margin-right: -1.5rem;
      span {
        font-size: $caption;
        letter-spacing: 0.3px;
        font-weight: 500;
      }
      .material-icons {
        margin-left: 0.5rem;
        font-size: 1.6rem;
      }

      &:hover {
        span,
        .material-icons {
          color: $blood-orange-light;
        }
      }
    }
  }

}
.preview-caption {
  font-size: $caption;
  font-weight: 600;
}

.button-group {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  
  a {
    height: inherit;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    &:first-child {
      margin-right: 1.5rem;
    }

    &:hover {
      color: $blood-orange-light;
    }
  }

  .show-size {
    .material-icons {
      margin-right: 0.5rem;
    }
  }
}