<div
  [style.transform]="transform"
  class="print-preview" cdkDrag>
  <div class="top-bar">
    <div class="instructions">
      <span class="preview-caption" >
        Drag this window
      </span>
    </div>

    <a
      (click)="printPrev.onHidePreview()"
      class="close">
      <span class="preview-caption">
        Close Viewer
      </span>
      <i class="material-icons">close</i>
    </a>
  </div>

  <app-preview>
  </app-preview>
  <div class="bottom-bar">
    <!-- <div class="button-group">
      <a
        (click)="onSizeIncrease($event)"
        class="prev">
        <i class="material-icons">add</i>
        <span class="">
          Increase Size
        </span>
      </a>
      <a
        (click)="onSizeDecrease()"
        class="next">
        <i class="material-icons">remove</i>
        <div class="">
          Decrease Size
        </div>

      </a>
    </div> -->

    <!-- <div class="button-group">
      <ng-container *ngIf="!(printPrev.previewSize$ | async)?.originalSize">
        <a
          (click)="printPrev.onTrueSize()"
          class="show-size">
          <i class="material-icons">
            straighten
          </i>
          <span class="preview-caption">
            Show true size
          </span>
        </a>
      </ng-container>

      <ng-container *ngIf="(printPrev.previewSize$ | async)?.originalSize">
        <a class="show-size" (click)="printPrev.onPreviewSize()">
          <i class="material-icons">
            fullscreen_exit
          </i>
          <span class="preview-caption">
            Shrink to preview
          </span>
        </a>
      </ng-container>
    </div> -->
  </div>
</div>