@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';


$title-height: 10rem;
$bottom-height: 5rem;
$routerlink-height: 5rem;
$button-width: calc($slim-width - 35px);
.sidebar {
  // position: sticky;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  height: $view-height;
  width: $sidebar-width;
  background-image: linear-gradient(to bottom, #f9f9f9, white);
  background-attachment: fixed;
  
  .sidebar-content {
    height: $view-height;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;

    .top-content {
      display: flex;
      flex-flow: column nowrap;
      width: calc($sidebar-width - ($sidebar-padding * 2));
      margin: auto;

      .title {
        height: $title-height;
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: center;
        
        span {
          @include text('h2');
          font-weight: 800;
          font-size: 3.8rem;
          letter-spacing: -0.16rem;;
          color: $black-ish;
          &:first-child { margin-right: 0.4rem;}
        }

        sup {
          // color: $hint-grey;
          font-weight: 500;
        }
      }


      /* ------------------------------ SECTION GROUP ----------------------------- */
      .section-group {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 4rem;
        height: calc($view-height - ($title-height + $bottom-height));
        
        a {
          width: calc($sidebar-width - ($sidebar-padding * 2));
          height: $routerlink-height;
          min-height: $routerlink-height;
          max-height: $routerlink-height;
          border-radius: 6px;

          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: flex-start;
          margin-top: 1.5rem;
          padding-left: 1.5rem;

          background-image: linear-gradient(to bottom right, white, white, #f5f5f5);

          box-shadow: -6px -4px 18px #FFFFFF,
          6px 4px 15px #00000023;

          position: relative;
          .material-icons {
            font-size: 1.8rem;
            margin-right: 1rem;
            color: $black-ish;
            &.drag {
              position: absolute;
              right: 0;
              color: $hint-grey;

              &:hover {
                cursor: grab;
              }
            }
          }
          span {
            font-size: 1.4rem;
            font-weight: 500;
          }

          &:hover {
            transform: scale(1.05);
          }

          &.active {
            box-shadow: inset 4px 4px 12px #00000020;

            &:hover {
              transform: scale(1);
            }
          }
        }
      }
    }

    .bottom-content {
      height: $bottom-height;
      width: calc($sidebar-width - ($sidebar-padding * 2 ));
      margin: auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      
      a {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0rem;
        }
        .material-icons {
          font-size: 2.4rem;
          color: $hint-grey;
        }

        &:hover {
          .material-icons {
            color: $blood-orange-regular;
          }
        }
      }
    }
  }
}


/* -------------------------------------------------------------------------- */
/*                                   SPACERS                                  */
/* -------------------------------------------------------------------------- */
.sidebar-spacer {
  width: $sidebar-width;
}
.slim-spacer {
  width: $slim-width;
}


/* -------------------------------------------------------------------------- */
/*                                SLIM SIDEBAR                                */
/* -------------------------------------------------------------------------- */
.slim-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $slim-width;
  height: $view-height;
  background-image: linear-gradient(to bottom, #f9f9f9, white);
  // background-attachment: fixed;
  .slim-top {
    width: inherit;
    .title {
      height: $title-height;
      width: inherit;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      h1 {
        @include text('h2');
        font-weight: 800;
      }
    }
  }

  .slim-bottom {
    width: inherit;
    .button-group {
      width: inherit;
      // border: 1px solid red;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      a {
        // width: inherit;
        width: $button-width;
        height: $button-width;
        border-radius: 5px;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        // border: 1px solid blue;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom right, white, #f1f1f1);
        
        box-shadow: -4px -4px 10px #FFFFFF,
        4px 3px 10px #00000030;
        border: 1px solid $steel-light;
        .material-icons {
          font-size: 1.75rem;
          color: $black-ish;
        }
        &.active {
          box-shadow: inset 4px 4px 4px #00000020;
        }
      }

      
    }
  }
}

