<!--TODO need to capture an index order for draggable sections that change the order that renders in the PDF-->
<ng-container *ngIf="(sidebar.showsSidebar$ | async); else hideMenuBlock">
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="top-content">
        <div class="title">
          <span>FinePrint</span>
        </div>
  
        <div class="section-group">
          <a
            routerLink="editor/summary"
            routerLinkActive="active">
            <i class="material-icons">
              badge
            </i>
            <span>
              Summary
            </span>
  <!-- 
            <i class="material-icons drag">
              drag_indicator
            </i> -->
          </a>

          <a
            routerLink="editor/projects"
            routerLinkActive="active">
            <i class="material-icons">
              local_shipping
            </i>
            <span>
              Projects
            </span>
  
            <!-- <i class="material-icons drag">
              drag_indicator
            </i> -->
          </a>
  
          <a
            routerLink="editor/work-xp"
            routerLinkActive="active"
            >
            <i class="material-icons">
              work
            </i>
            <span>
              Work XP
            </span>
            <!-- <i class="material-icons drag">
              drag_indicator
            </i> -->
          </a>
  
          <a
            routerLink="editor/skills"
            routerLinkActive="active"
            >
            <i class="material-icons">
              beenhere
            </i>
            <span>
              Skills & Tools
            </span>
            <!-- <i class="material-icons drag">
              drag_indicator
            </i> -->
          </a>
  
          <a routerLink="editor/education"
            routerLinkActive="active">
            <i class="material-icons">
              school
            </i>
            <span>
              Education
            </span>
            <!-- <i class="material-icons drag">
              drag_indicator
            </i> -->
          </a>
  
  
        </div>
      </div>
  
      <div class="bottom-content">
        hello
      </div>
    </div>
  </div>
</ng-container>
<div
  [ngClass]="(sidebar.showsSidebar$ | async) ? 'sidebar-spacer' : 'slim-spacer'">
</div>
<ng-template #hideMenuBlock>
  <div class="slim-sidebar">
    <div class="slim-top">
      <div class="title">
        <h1>
          FP
        </h1>
      </div>
    </div>

    <div class="slim-bottom">
      <div class="button-group">
        <a
          routerLink="editor/summary"
          routerLinkActive="active"
          >
          <i class="material-icons">badge</i>
        </a>


        <a
          routerLink="editor/projects"
          routerLinkActive="active">
          <i class="material-icons">
            local_shipping
          </i>

        </a>

        <a
          routerLink="editor/work-xp"
          routerLinkActive="active"
          >
          <i class="material-icons">
            work
          </i>

        </a>

        <a
          routerLink="editor/skills"
          routerLinkActive="active"
          >
          <i class="material-icons">
            beenhere
          </i>

        </a>

        <a routerLink="editor/education"
          routerLinkActive="active">
          <i class="material-icons">
            school
          </i>

        </a>


      </div>
    </div>
  </div>
</ng-template>