<app-action-bar
  [title]="viewTitle"
  [button]="button"
  (primaryClick)="onAddNew()"
  >
</app-action-bar>

<div class="pt-5"></div>
<div class="clear-block">
  <a
    (click)="projService.onClearProjects()"
    class="clear-all-btn">
    <i class="material-icons">clear_all</i>
    <span>
      Clear All
    </span>
  </a>
</div>

<div
  class="form"
  *ngFor="let project of projects;let i = index"
  >

  <!-- ------------------------ PROJECT NAME AND URL ------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        Project name
      </label>
      <input
        name="projectName"
        (focusout)="onUpdate('name')"
        [(ngModel)]="project.name"
        type="text">
      <app-spinner
        [spin]="spin.name">
      </app-spinner>
    </div>

    <div class="form-group">
      <label>
        URL
      </label>
      <input
        name="url"
        (focusout)="onUpdate('url')"
        [(ngModel)]="project.url"
        type="text">

        <app-spinner
          [spin]="spin.url">
        </app-spinner>
    </div>
  </div>

  <!-- -------------------------------- TOOLS -------------------------------- -->
  <div
    style="width: inherit;"
    class="form-group mb-6">
    <label>
      Tools used (separate with commas)
    </label>

    <input
      name="tools"
      (focusout)="onUpdate('tools')"
      [(ngModel)]="project.toolsString"
      type="text">
      <app-spinner [spin]="spin.tools"></app-spinner>
  </div>
  <label class="quill-label">
    <div class="line"></div>
    Project Description

    <app-spinner [spin]="spin.description"></app-spinner>  
  </label>
  
  <quill-editor
      [placeholder]="' '"
      [modules]="modules"
      [style]="style"
      (focusout)="onUpdate('description')"
      [style.width]="'inherit'"
      name="summaryObjective"
      type="text"
      >
  </quill-editor>

  <div *ngIf="projects.length > 1" class="divider"></div>
</div>

<div #scrollBottom></div>

