<app-action-bar
  [title]="viewTitle"
  [button]="button"
  [showsSpinner]="showsSpinner"
  (primaryClick)="onAddNew()"
  >
</app-action-bar>
<div class="clear-block">
  <a
    (click)="onClearAll()"
    class="clear-all-btn">
    <i class="material-icons">clear_all</i>
    <span>
      Clear All
    </span>
  </a>
</div>

<div
  class="form"
  *ngFor="let project of projects;let i = index"
  >
  <div *ngIf="projects.length > 1" class="remove-item">
    <a (click)="onRemove(project.id)">
      <i class="material-icons">cancel</i>
      <span>Remove</span>
    </a>
  </div>
  <!-- ------------------------ PROJECT NAME AND URL ------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        Project name
      </label>
      <input
        name="projectName"
        (focusout)="onUpdate('name'); showsSpinner = true;"
        [(ngModel)]="project.name"
        type="text"
        #projectNameElement>
    </div>

    <div class="form-group">
      <label>
        URL
      </label>
      <input
        name="url"
        (focusout)="onUpdate('url'); showsSpinner = true"
        [(ngModel)]="project.url"
        type="text">
    </div>
  </div>

  <!-- -------------------------------- TOOLS -------------------------------- -->
  <div
    style="width: inherit;"
    class="form-group mb-6">
    <label>
      Tools used (separate with commas)
    </label>

    <input
      name="tools"
      (focusout)="onUpdate('tools'); showsSpinner = true"
      [(ngModel)]="project.toolsString"
      type="text">
      
  </div>
  <label class="quill-label">
    <div class="line"></div>
    Project Description
  </label>
  
  <quill-editor
      [placeholder]="' '"
      [modules]="modules"
      [style]="style"
      [(ngModel)]="project.description"
      (focusout)="onUpdate('description'); showsSpinner = true"
      [style.width]="'inherit'"
      name="summaryObjective"
      type="text"
      >
  </quill-editor>

  <div *ngIf="projects.length > 1" class="divider"></div>
</div>

<div #scrollBottom></div>

