<ng-container [ngSwitch]="(print.sizeScale$ | async)">
  <div
    *ngSwitchCase="'scale(0.7)'"
    [style.transform]="(print.sizeScale$ | async)"
    class="doc-viewer" 
    cdkDrag>
    <app-doc></app-doc>
  </div>

  <div
    *ngSwitchCase="'scale(0.8)'"
    [style.transform]="(print.sizeScale$ | async)"
    class="doc-viewer" cdkDrag>
    <app-doc></app-doc>
  </div>

  <div
    *ngSwitchCase="'scale(0.9)'"
    [style.transform]="(print.sizeScale$ | async)"
    class="doc-viewer" cdkDrag>
    <app-doc></app-doc>
  </div>


  <div
    *ngSwitchCase="'scale(1)'"
    [style.transform]="(print.sizeScale$ | async)"
    class="doc-viewer" cdkDrag>
    <app-doc></app-doc>
  </div>
</ng-container>
