
@import '../../../scss/variables.scss';

:host {
  position: absolute;
  right: 0;
}
.doc-viewer {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
.cdk-drag-dragging {
  cursor: grabbing;
}

.instructions-block {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  span {
    
    font-weight: 500;
    color: $ish-black;
  }
}
