@import 'node_modules/@riapacheco/yutes/main.scss';
@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import './scss/mixins.scss/';
@import './scss/variables.scss/';
@import '~quill/dist/quill.snow.css';
@import './scss/quill.scss';

* {
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-size: 10px;
  // background-color: #F1f1f1;

}
body {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.divider {
  display: block;
  width: 550px;
  border-bottom: 2px dashed $ish-grey;
  margin-top: 7rem;
}
.ql-container.ql-snow {
  line-height: 1.6 !important;
  
}

.hint-grey { color: $hint-grey; }
.hint-ish-grey { color: $hint-ish-grey; }
.ish-grey { color: $ish-grey; }

.bold {
  font-weight: 700;
}

.inner-wrapper {
  p {
    font-size: 1.35rem;
    line-height: 1.5;
    margin: 0px;
    // padding-bottom: 1rem;
  }
}

input {
  -webkit-font-smoothing: antialiased !important;
}
.hint-grey {
  color: $hint-grey !important;
}

.top-spacer {
  display: block;
  height: $action-bar-height;
}

.clear-block {
  width: $form-width;
  margin-left: 6rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.form {
  // margin-bottom: -10rem;
}
.cdk-drag-dragging {
  cursor: grabbing;
}
/* -------------------------------------------------------------------------- */
/*                                    PRINT                                   */
/* -------------------------------------------------------------------------- */
@page {
  size: auto;
  margin: 1in;
}
// @media print {
//   :not(.canPrint) {
//     visibility: hidden; 
//   }
// }
// @media print {
//   .canPrint {
//     visibility: visible !important;
//     @page {
//       size: auto;
//       margin: 0px;
//     }
//   }
//   footer {
//     display: none;
//   }
// }
@media print {
  .doNotPrint {
    visibility: hidden;
  }

  .page-break {
    page-break-after: always;
  }
  .avoid-page-break {
    page-break-after: avoid;
  }
}

h6 {
  @include text('h6');
}
/* -------------------------------------------------------------------------- */
/*                                   Z-INDEX                                  */
/* -------------------------------------------------------------------------- */

app-sidebar,
.slim-sidebar {
  z-index: 12;
}

.remove-item {
  z-index: 100;
}

app-doc-viewer {
  z-index: 1000;
}

app-toast,
.toast,
.doc-data,
app-action-bar,
.action-bar {
  z-index: 1500;
}
app-pdf-preview,
.pdf-preview {
  z-index: 2000;
}

.pdf-viewer {
  z-index: 3000;
}

.style-controls {
  z-index: 4000;
}