@import 'node_modules/@riapacheco/yutes/main.scss';
@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import './scss/mixins.scss/';
@import './scss/variables.scss/';
@import '~quill/dist/quill.snow.css';
@import './scss/quill.scss';

* {
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.divider {
  display: block;
  width: 550px;
  border-bottom: 2px dashed $ish-grey;
  margin-top: 7rem;
}
.ql-container.ql-snow {
  line-height: 1.6 !important;
}

.hint-grey { color: $hint-grey; }
.hint-ish-grey { color: $hint-ish-grey; }
.ish-grey { color: $ish-grey; }

.bold {
  font-weight: 700;
}

.inner-wrapper {
  p {
    line-height: 1.5;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   Z-INDEX                                  */
/* -------------------------------------------------------------------------- */

app-sidebar,
.slim-sidebar {
  z-index: 12;
}

app-action-bar,
.action-bar {
  z-index: 20;
}

.remove-item {
  z-index: 100;
}

app-preview,
app-print-preview,
.print-preview {
  z-index: 1000;
}