@import 'node_modules/@riapacheco/yutes/main.scss';
@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import './scss/mixins.scss/';
@import './scss/variables.scss/';
@import '~quill/dist/quill.snow.css';
@import './scss/quill.scss';

* {
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}

.divider {
  display: block;
  width: 550px;
  border-bottom: 2px solid $ish-grey;
  margin-top: 10rem;
}
.ql-container.ql-snow {
  line-height: 1.6 !important;
}

.hint-grey { color: $hint-grey; }
.hint-ish-grey { color: $hint-ish-grey; }
.ish-grey { color: $ish-grey; }
/* -------------------------------------------------------------------------- */
/*                                   Z-INDEX                                  */
/* -------------------------------------------------------------------------- */

app-sidebar,
.slim-sidebar {
  z-index: 12;
}

app-print-preview,
.print-preview {
  z-index: 15;
}

app-action-bar,
.action-bar {
  z-index: 20;
}