@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import './mixins.scss';
@import './variables.scss';

/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
.form {
  // padding-top: $view-padding-top;
  padding-bottom: $view-padding-bottom;
  width: 90%;
  max-width: 600px;
  margin-left: 4rem;

  

  .quill-label {
    position: relative;
  }

  quill-editor {
    width: inherit;
  }
  
  &.short {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    &.double-row {
      margin-top: -1rem;
      margin-bottom: 0rem;
    }

  }
}


%alignment {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
/*                              ATTRIBUTE STYLING                             */
/* -------------------------------------------------------------------------- */
/* ----------------------------- UNDERLINE-STYLE ---------------------------- */
%us-label {
  font-size: 1.03rem !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  letter-spacing: 0.15rem;
  color: $black;
  display: inline-block;
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  white-space: nowrap;;
}

%us-input {
  font-size: 1.5rem !important;
  font-weight: 400;
  letter-spacing: 0rem;
  height: 36px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  border-bottom: 2px solid $black;
  padding-bottom: -1rem !important;
  font-size: 10px;

}

/* -------------------------------------------------------------------------- */
/*                                 NEUMORPHIC                                 */
/* -------------------------------------------------------------------------- */
%neu-label {
  font-size: 1.1rem !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  letter-spacing: 0.15rem;
  display: inline-block;
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  color: $hint-grey;
}
%neu-input {
  background-color: white;
  box-shadow: inset 2px 2px 8px $hint-ish-grey;
  border-radius: 4px;
  color: black;
  font-weight: 400;
  font-size: 1.4rem;
  &.on-focus {
    box-shadow: inset 1px 1px 4px $hint-ish-grey;
  }
}

.form-group {
  position: relative;
}

.ql-editor {
  font-size: 1.4rem;
}



label {
  // @extend %us-label;
  @extend %neu-label;
}

input {
  // @extend %us-input;
  @extend %neu-input;
}


/* ------------------------------- ROW STYLING ------------------------------ */
.single-row {
  width: inherit;
  position: relative;
  &.add-btn {
    .form-group {
      width: 90%;
    }
  }

  a {
    position: absolute;
    right: 0;
    bottom: 0rem;

    background-color: $ish-black;
    color: white;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 3.6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .material-icons {
      font-size: 1.6rem;
    }

  }
}
.double-row {
  @extend %alignment;
  margin-bottom: 3.5rem;
  .form-group {
    width: 46%;
    max-width: 300px;
  }

  &.add-each {
    .form-group {
      max-width: 400px;
      width: 100%;
      margin-left: 2.5rem;
      &:first-child {
        margin-left: 0rem;
        width: 150px;
      }

    }
  }
}



.triple-row {
  @extend %alignment;
  .form-group {
    width: 30%;
  }
}
.remove-item {
  // width: 580px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  color: $hint-grey;
  cursor: pointer !important;
  &.slim {
    margin-bottom: -0.5rem;
  }
  a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .material-icons {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    span {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  &:hover {
    color: $black-ish;
  }
}
.clear-block {
  // width: inherit;
  width: 580px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  color: $hint-grey;

  .clear-all-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .material-icons {
      font-size: 1.7rem;
      margin-right: 0.5rem;
    }
    span {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
