@import './form-layout.scss';
@import './mixins.scss';
@import './variables.scss';
$quill-corner: 5px;

%neu-label {
  font-size: 1.1rem !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  letter-spacing: 0.15rem;
  display: inline-block;
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  color: $hint-grey;
}

/* ---------------------------------- LABEL --------------------------------- */
label {
  &.quill-label {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    white-space: nowrap;

    @extend %neu-label;
    .line {
      height: 8px;
      width: inherit;
      border-top: 2px solid $ish-grey;
      margin-right: 1rem;
    }
  }
}
/* --------------------------------- TOOLBAR -------------------------------- */
// Overall toolbar
.ql-toolbar.ql-snow{
  border-radius: $quill-corner $quill-corner 0px 0px;
  border-bottom: 1px solid transparent;
  padding-bottom: 1rem;
  border: 1px solid transparent;
  background: white !important;
  @include style-bg('light');
  // box-shadow: inset 3px 3px 12px $hint-ish-grey;
  color: $hint-grey !important;
}

// Icon / options styles
.ql-toolbar.ql-snow > * {
  padding-left: 1rem;
  transform: scale(1.18);
  color: $hint-grey !important;
}

/* -------------------------------- TEXTAREA -------------------------------- */
.ql-container.ql-snow {
  box-shadow: inset 2px 2px 8px $hint-ish-grey;
  border-radius: $quill-corner;
  color: black;
  font-weight: 400;
  border: 0px solid transparent;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  
  line-height: 1.8 !important;

  li {
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
  }
}


