
/* --------------------------------- COLORS --------------------------------- */
$black: #15181b;
$black-ish: #232a31;
$hint-grey: #b8bdc3;
$hint-ish-grey: #e1e6ea;
$ish-grey: #ecf1f5;

/* --------------------------------- GENERAL -------------------------------- */
// So all components using it will calculate and adjust the same
$view-height: 100vh;
$view-width: 100vw;
$view-padding-top: 5rem;
$view-padding-bottom: 10rem;

/* --------------------------------- SIDEBAR -------------------------------- */
$sidebar-width: 250px;
$sidebar-padding: 20px;

/* ------------------------------- ACTION BAR ------------------------------- */
$action-bar-height: 5.3rem;
$action-bar-padding: 20px;