
<!-- ----------------------------------------------------------------------- -->
<!--                           STYLED DOC PREVIEW                            -->
<!-- ----------------------------------------------------------------------- -->
<div
  [class]="previewClass"
  [style.width.in]="8.5">
  <div
    id="docData"
    [style.padding-top.in]="isPrinting && !inPreview ? 0 : marginInches"
    [style.padding-left.in]="marginInches"
    [style.padding-bottom.in]="marginInches"
    [style.padding-right.in]="marginInches"

    class="doc-data"
    >
    <ng-container *ngIf="marginHighlight">
      <div
        [style.height.in]="marginInches"
        class="margin-highlight top">
      </div>
      <div
        [style.height.in]="marginInches"
        class="margin-highlight bottom">
      </div>
      <div
        [style.width.in]="marginInches"
        class="margin-highlight left">
      </div>

      <div
        [style.width.in]="marginInches"
        class="margin-highlight right-highlight">
      </div>

    </ng-container>

    <!-- ------------------------------- SUMMARY ------------------------------- -->
    <div
      class="resume-block contact-info"
      [style.margin-bottom.in]="sectionSpacingHighlight ? '0rem' : sectionSpacing"
      >
      <div class="profile-name">
        <span>
          {{ summary.first_name }} {{ summary.last_name }}
        </span>
      </div>
      <div
        [style.width.%]="contactInfoWidth"
        [ngClass]="contactInfoHighlight ? 'contact-info highlight' : 'contact-info'"
        >

        <ul
          [style.margin-right.rem]="listBlockSpace"
          class="list-unstyled">
          <li *ngIf="summary.location">
            <span>
              Location
            </span>
            <span>
              {{ summary.location }}
            </span>
          </li>
          <li *ngIf="summary.email">
            <span>
              Email
            </span>
            <span>
              {{ summary.email }}
            </span>
          </li>
          <li *ngIf="summary.phone">
            <span>
              Phone
            </span>
            <span>
              {{ summary.phone }}
            </span>
          </li>
          <li *ngIf="summary.url">
            <span>
              Website
            </span>
            <span>
              {{ summary.url }}
            </span>
          </li>
        </ul>

        <ul class="list-unstyled">
          <li>
            <span>Other URL</span>
            <span>
              {{ summary.alt_url }}
            </span>
          </li>
          <li>
            <span>
              Twitter.com/
            </span>
            <span>
              {{ summary.twitter_handle }}
            </span>
          </li>
          <li>
            <span>Linkedin.com/in/</span>
            <span>
              {{ summary.linkedin_handle }}
            </span>
          </li>
          <li>
            <span>
              Github.com/
            </span>
            <span>
              {{ summary.github_handle }}
            </span>
          </li>
        </ul>

        <div
          *ngIf="sectionSpacingHighlight"
          [style.height.in]="sectionSpacing"
          class="highlight-spacer">
        </div>
      </div>
    </div>
    <ng-container *ngIf="pageBreakSpace.contactInfo.selected">
      <div [style.height.rem]="pageBreakSpace.contactInfo.afterBreakHeight"></div>
    </ng-container>

    <!-- ------------------------------ OBJECTIVE ------------------------------ -->
    <div
      class="resume-block"
      [style.padding-bottom.in]="sectionSpacingHighlight ? '0rem' : sectionSpacing"
      >
      <div class="block-header">
        <div class="header-title">
          <span>
            Objective
          </span>
        </div>
        <div class="header-divider"></div>
      </div>

      <div
        [ngClass]="summaryContentHighlight ? 'summary-para inner-wrapper highlight' : 'summary-para inner-wrapper'"
        [style.max-width.%]="summaryContentWidth"
        [style.margin-left]="'auto'"
        >
        <div [innerHTML]="summary.summary_objective"></div>
      </div>
      <div
        *ngIf="sectionSpacingHighlight"
        [style.height.in]="sectionSpacing"
        class="highlight-spacer">
      </div>
    </div>
    <ng-container *ngIf="pageBreakSpace.objective.selected">
      <div [style.height.rem]="pageBreakSpace.objective.afterBreakHeight"></div>
    </ng-container>

    <!-- ------------------------------ PROJECTS ------------------------------- -->
    <div
      class="resume-block"
      [style.margin-bottom.in]="sectionSpacingHighlight ? '0rem' : sectionSpacing"
      >
      <div class="block-header">
        <div class="header-title">
          <span>
            {{ (res.devState$ | async) ? 'Projects' : 'Major Projects' }}
          </span>
        </div>
        <div class="header-divider"></div>
      </div>

      <div class="block-body projects-body">
        <table>
          <tr
            *ngFor="let project of projects"
            [style.display]="'flex'"
            [style.justify-content]="'space-between'"
            [style.margin-bottom.rem]="projectVerticalSpacing"
            >
            <!-- Project Name -->
            <td class="project-name">
              <span>
                {{ project.name }}
              </span>
            </td>

            <!-- Project Details -->
            <td
              [style.width.%]="projectDetailsWidth"
              [ngClass]="projectDetailsHighlight ? 'project highlight' : 'project'"
              >
              <!-- Description -->
              <div class="inner-wrapper">
                <div [innerHTML]="project.description"></div>
              </div>

              <!-- Tools and URL -->
              <ul *ngIf="project.toolsString || project.url" class="projects-ul list-unstyled" style="margin-left: 1rem; padding-top: 1rem;">
                <li>
                  <div class="projects-label">
                    <strong class="details-label" *ngIf="!(res.devState$ | async)">Keywords</strong>
                    <strong class="details-label" *ngIf="(res.devState$ | async)">Tools</strong>
                  </div>
                  <div class="projects-details">
                    {{ project.toolsString }}
                  </div>
                </li>
                <li>
                  <div class="projects-label">
                    <strong class="details-label">URL</strong>
                  </div>
                  <div class="projects-details">
                    {{ project.url }}
                  </div>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

      <div
        *ngIf="sectionSpacingHighlight"
        [style.height.in]="sectionSpacing"
        class="highlight-spacer">
      </div>
    </div>
    <ng-container *ngIf="pageBreakSpace.projects.selected">
      <div [style.height.rem]="pageBreakSpace.projects.afterBreakHeight"></div>
    </ng-container>

    <!-- -------------------------- WORKD EXPERIENCE --------------------------- -->
    <div
      class="resume-block"
      [style.padding-bottom.in]="sectionSpacingHighlight ? '0rem' : sectionSpacing"
      >
      <div class="block-header">
        <div class="header-title">
          <span>
            Work Experience
          </span>
        </div>
        <div class="header-divider"></div>
      </div>

      <div class="block-body work-experience">
        <table>
          <tr
            *ngFor="let work of workExperience"
            [style.display]="'flex'"
            [style.align-items]="'center'"
            [style.justify-content]="'space-between'"
            [style.padding-bottom.rem]="expVerticalSpacing"
            >
            <td class="work-title-company">
              <div class="work-title">
                {{ work.job_title }}
              </div>
              <div class="work-company">
                {{ work.company }}
              </div>
              <div class="work-dates">
                {{ work.start_date }} <span class="hint-grey">></span> {{ work.end_date }}
              </div>
            </td>

            <td
              [ngClass]="expDetailsHighlight ? 'inner-wrapper work-body highlight' : 'inner-wrapper work-body'"
              [style.width.%]="expDetailsWidth"
              [style.min-width.%]="expDetailsWidth"
              >
              <div [innerHTML]="work.dutiesString"></div>
            </td>
          </tr>
        </table>
      </div>

      <div
        *ngIf="sectionSpacingHighlight"
        [style.height.in]="sectionSpacing"
        class="highlight-spacer">
      </div>
    </div>
    <ng-container *ngIf="pageBreakSpace.workExperience.selected">
      <div [style.height.rem]="pageBreakSpace.workExperience.afterBreakHeight"></div>
    </ng-container>

    <!-- --------------------------- SKILLS / TOOLS ---------------------------- -->
    <div class="resume-block">
      <div class="block-header">
        <div class="header-title">
          <span>
            Hard & Soft Skills
          </span>
        </div>
        <div class="header-divider"></div>
      </div>

      <div
        class="block-body skills"
        >
        <div
          [style.width.%]="skillBlockWidth"
          [style.margin-bottom.rem]="skillBlockVerticalSpacing"
          [ngClass]="skillBlockHighlight ? 'skill highlight' : 'skill'"
          *ngFor="let skill of skills">
          <div class="skill-name">
            {{ skill.name }}
          </div>
          <div class="skill-description">
            {{ skill.description }}
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="pageBreakSpace.skills.selected">
      <div [style.height.rem]="pageBreakSpace.skills.afterBreakHeight"></div>
    </ng-container>


    <ng-container *ngIf="hasWatermark">
      <div class="watermark-area">
        <div class="watermark">
          Generated w/ <strong>Fine-Print.app</strong> ❤️
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                CONTROLS                                 -->
<!-- ----------------------------------------------------------------------- -->
<ng-container *ngIf="!isPrinting">
  <div class="style-controls">
    <div class="control-content-area">

      <!-- ----------------------------------------------------------------------- -->
      <!--                             GENERAL OPTIONS                             -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="title">
        General Formatting
      </div>

      <!-- ------------------------------- MARGINS ------------------------------- -->
      <div
        (mouseover)="marginHighlight = true;"
        (mouseout)="marginHighlight = false;"
        class="control">
        <div class="label">
          <h6>
            Margins
          </h6>
        </div>
        <div class="field">
          <input
            name="marginInches"
            [(ngModel)]="marginInches"
            (keydown)="topMargin = marginInches"
            step="0.01"
            min="0"
            type="number">
            <div class="unit">
              inches
            </div>
        </div>
      </div>

      <!-- --------------------------- SECTION SPACING --------------------------- -->
      <div
        (mouseover)="sectionSpacingHighlight = true"
        (mouseout)="sectionSpacingHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Spacing
          </h6>
        </div>
        <div class="field">
          <input
            name="sectionSpacing"
            [(ngModel)]="sectionSpacing"
            step="0.01"
            min="0"
            type="number">
            <div class="unit">
              inches
            </div>
        </div>
      </div>

      <div [style.height.rem]="1.5"></div>
      <div class="title">
        Section Adjustments
      </div>
      <!-- ------------------------- CONTACT INFO WIDTH -------------------------- -->
      <div
        (mouseover)="contactInfoHighlight = true"
        (mouseout)="contactInfoHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Contact Info Width
          </h6>
        </div>
        <div class="field">
          <input
            name="contactInfoWidth"
            [(ngModel)]="contactInfoWidth"
            min="0"
            type="number">
            <div class="unit">
              <code>%</code> of width
            </div>
        </div>
      </div>

      <!-- --------------------------- OBJECTIVE WIDTH --------------------------- -->
      <div
        (mouseover)="summaryContentHighlight = true"
        (mouseout)="summaryContentHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Objective Width
          </h6>
        </div>

        <div class="field">
          <input
            name="summaryContentWidth"
            [(ngModel)]="summaryContentWidth"
            min="0"
            type="number">
            <div class="unit">
              <code>%</code> of width
            </div>
        </div>
      </div>

      <!-- ------------------------ PROJECT DETAILS WIDTH ------------------------ -->
      <div
        (mouseover)="projectDetailsHighlight = true"
        (mouseout)="projectDetailsHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Projects Width
          </h6>
        </div>

        <div class="field">
          <input
            name="projectDetailsWidth"
            [(ngModel)]="projectDetailsWidth"
            min="0"
            type="number">
            <div class="unit">
              <code>%</code> of width
            </div>
        </div>
      </div>

      <!-- ---------------------- PROJECT VERTICAL SPACING ----------------------- -->
      <div
        (mouseover)="projectDetailsHighlight = true"
        (mouseout)="projectDetailsHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Projects Spacing
          </h6>
        </div>

        <div class="field">
          <input
            [(ngModel)]="projectVerticalSpacing"
            step="0.1"
            min="0"
            type="number">
            <div class="unit">
              <code *ngIf="projectVerticalSpacing > 0;else projectPx">*10px</code>
              <ng-template #projectPx>
                <code>px</code>
              </ng-template>
            </div>
        </div>
      </div>

      <!-- ---------------------- EXPERIENCE DETAILS WIDTH ----------------------- -->
      <div
        (mouseover)="expDetailsHighlight = true"
        (mouseout)="expDetailsHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Work Experience Width
          </h6>
        </div>

        <div class="field">
          <input
            name="expDetailsWidth"
            [(ngModel)]="expDetailsWidth"
            min="0"
            type="number">
            <div class="unit">
              <code>%</code> of width
            </div>
        </div>
      </div>

      <!-- --------------------- EXPERIENCE VERTICAL SPACING --------------------- -->
      <div
        (mouseover)="expDetailsHighlight = true"
        (mouseout)="expDetailsHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Work Experience Spacing
          </h6>
        </div>

        <div class="field">
          <input
            name="expVerticalSpacing"
            [(ngModel)]="expVerticalSpacing"
            step="0.1"
            min="0"
            type="number">

            <div class="unit">
              <code *ngIf="expVerticalSpacing > 0;else workXpSpacing">*10px</code>
              <ng-template #workXpSpacing>
                <code>px</code>
              </ng-template>
            </div>
        </div>
      </div>

      <!-- -------------------------- SKILL BLOCK WIDTH -------------------------- -->
      <div
        (mouseover)="skillBlockHighlight = true"
        (mouseout)="skillBlockHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Skills Width
          </h6>
        </div>

        <div class="field">
          <input
            name="skillBlockWidth"
            [(ngModel)]="skillBlockWidth"
            min="0"
            type="number">
            <div class="unit">
              <code>%</code> of width
            </div>
        </div>
      </div>
      <!-- -------------------- SKILL BLOCK VERTICAL SPACING --------------------- -->
      <div
        (mouseover)="skillBlockHighlight = true"
        (mouseout)="skillBlockHighlight = false"
        class="control">
        <div class="label">
          <h6>
            Skills Spacing
          </h6>
        </div>

        <div class="field">
          <input
            name="skillBlockVerticalSpacing"
            [(ngModel)]="skillBlockVerticalSpacing"
            min="0"
            type="number">
            <div class="unit">
              <code *ngIf="skillBlockVerticalSpacing > 0; else skillSpacingXp">*10px</code>
              <ng-template #skillSpacingXp>
                <code>px</code>
              </ng-template>
            </div>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                           ADDITIONAL OPTIONS                            -->
      <!-- ----------------------------------------------------------------------- -->
      <div [style.height.rem]="1.5"></div>
      <div class="title">
        Additional Options
      </div>

      <!-- --------------------------- SHOW WATERMARK ---------------------------- -->
      <div class="control">
        <div class="label">
          <h6>
            Watermark
          </h6>
        </div>

        <div class="field">
          <a
            (click)="hasWatermark = !hasWatermark"
            class="placeholder-field">
            <ng-container *ngIf="hasWatermark">
              <i [style.color]="'#343a41'" class="material-icons">check_box</i>
            </ng-container>
            <ng-container *ngIf="!hasWatermark">
              <i [style.color]="'#b8bdc3'" class="material-icons">check_box_outline_blank</i>
            </ng-container>
          </a >
        </div>
      </div>


      <!-- ------------------------------ FILE NAME ------------------------------ -->
      <div class="control">
        <div class="label">
          <h6>
            File name
          </h6>
        </div>

        <div class="field">
          <input
            name="pdfFileName"
            [(ngModel)]="pdfFileName"
            type="text">
          <div class="unit">
            <code>.pdf</code>
          </div>
        </div>
      </div>

      <!-- --------------------------- ADD BREAK AFTER --------------------------- -->
      <div class="control">
        <div class="label">
          <h6 class="page-break-after-label">
            Add Break Space After
          </h6>
          <select
            [style.font-size.px]="11"
            (change)="onSectionSelect()"
            #sectionSelector>
            <option [ngValue]="null">Select Section</option>
            <option value="contactInfo">Contact Information</option>
            <option value="objective">Objective Summary</option>
            <option value="projects">Projects</option>
            <option value="workExperience">Work Experience</option>
            <option value="skills">Hard & Soft Skills</option>
          </select>
        </div>

        <div class="field">
          <!-- ---------------------------- Contact Info ----------------------------- -->
          <ng-container *ngIf="pageBreakSpace.contactInfo.selected">
            <input
              name="contactInfoAfterBreak"
              [(ngModel)]="pageBreakSpace.contactInfo.afterBreakHeight"
              min="0"
              type="number">
              <div class="unit">
                <code *ngIf="pageBreakSpace.contactInfo.afterBreakHeight > 0;else contactInfoPX">*10px</code>
                <ng-template #contactInfoPX>
                  <code>px</code>
                </ng-template>
              </div>
          </ng-container>

          <!-- --------------------------- Objective Break --------------------------- -->
          <ng-container *ngIf="pageBreakSpace.objective.selected">
            <input
              name="objective"
              [(ngModel)]="pageBreakSpace.objective.afterBreakHeight"
              min="0"
              type="number">
              <div class="unit">
                <code *ngIf="pageBreakSpace.objective.afterBreakHeight > 0;else objectivePX">*10px</code>
                <ng-template #objectivePX>
                  <code>px</code>
                </ng-template>
              </div>

          </ng-container>

          <!-- --------------------------- PROJECTS BREAK ---------------------------- -->
          <ng-container *ngIf="pageBreakSpace.projects.selected">
            <input
              name="projects"
              [(ngModel)]="pageBreakSpace.projects.afterBreakHeight"
              min="0"
              type="number">
              <div class="unit">
                <code
                  *ngIf="pageBreakSpace.projects.afterBreakHeight > 0;else projectsBreakPX"
                  >
                  *10px
                </code>
                <ng-template #projectsBreakPX>
                  <code>px</code>
                </ng-template>
              </div>
          </ng-container>

          <!-- -------------------------- Experience Break --------------------------- -->
          <ng-container *ngIf="pageBreakSpace.workExperience.selected">
            <input
              name="workExperience"
              [(ngModel)]="pageBreakSpace.workExperience.afterBreakHeight"
              min="0"
              type="number">
              <div class="unit">
                <code
                  *ngIf="pageBreakSpace.workExperience.afterBreakHeight > 0;else workExperiencePX"
                  >
                  *10px
                </code>
                <ng-template #workExperiencePX>
                  <code>px</code>
                </ng-template>
              </div>
          </ng-container>

          <!-- ------------------------------- Skills -------------------------------- -->
          <ng-container *ngIf="pageBreakSpace.skills.selected">
            <input
              name="skills"
              [(ngModel)]="pageBreakSpace.skills.afterBreakHeight"
              min="0"
              type="number">
              <div class="unit">
                <code
                  *ngIf="pageBreakSpace.skills.afterBreakHeight > 0;else skillsPX">
                  *10px
                </code>
                <ng-template #skillsPX>
                  <code>px</code>
                </ng-template>
              </div>
          </ng-container>
        </div>
      </div>

      <div [style.height.rem]="4"></div>

      <div class="action-buttons">
        <a
          (click)="navigateBack()"
          class="print-button secondary mr-1">
          Back to Editor
        </a>
        <a
          (click)="onPrint()"
          class="print-button">
          Download PDF
        </a>
      </div>
    </div>
  </div>
</ng-container>
