@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../scss/form-layout.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/quill.scss';
@import '../../../scss/variables.scss';
$highlight: rgb(255, 221, 85);
:host {
  -webkit-font-smoothing: antialiased !important;
}


table {
  font-weight: 300;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

.pdf-viewer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  pdf-viewer {
    border: 1px solid black;
  }
  a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem;

    &:hover {
      transform: scale(1.1);
    }
  }
  .material-icons {
    font-size: 1.8rem;
    margin: 0.5rem;
  }
}
td {
  padding-bottom: 1rem;
}
.print-preview {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  &.print-ready {

    .doc-data {
      border-left: 0px solid transparent;
      border-right: 0px solid transparent;
      outline: 0px;
    }
  }

  .doc-data {
    background-color: white;
    width: 8.5in;
    margin: auto;
    outline: 1px dashed $ish-black;
    position: relative;
    .resume-block {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      .highlight-spacer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $highlight;
      }
      .block-body {
        &.projects-body {
          .project-name {
            // border: 1px solid red;
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: flex-end;

            padding-right: 2rem;
            padding-top: 10px;
            padding-left: 2rem;
            span {
              white-space: nowrap;
              margin-right: 1rem;
              @include text('h6');
            }
          }

          .project {
            .projects-ul {
              li {
                margin-bottom: 0.5rem;
              }
            }
          }
        }

        &.work-experience {
          .inner-wrapper.work-body {
            li {
              margin-bottom: 1rem;
            }
          }
        }

        .work-title {
          @include text('h6');
          margin-bottom: 1.5rem;
          line-height: 1.4;
        }

        .work-company {
          font-size: $main-font-size;
          font-weight: 500;
        }
        .work-dates {
          font-size: $main-font-size;
        }

        &.skills {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-content: space-around;

          .skill {
            display: inline-flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            // border: 1px solid red;
            margin: 1rem;

            .skill-name {
              @include text('h6');
              white-space: nowrap;
              margin-bottom: 0.5rem;
            }
            .skill-description {
              font-size: $main-font-size;
              font-weight: 300;
              margin-bottom: 1rem;
              line-height: $main-line-height;
              margin-top: 5px;
            }
          }
        }
      }

      &.contact-info {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;

        .profile-name {
          span {
            @include text('h3');
          }
        }

        ul {

          // border: 1px solid red;
          width: 100%;
          li {
            width: inherit;
            line-height: $main-line-height;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            span {
              &:nth-child(1) {
                @include text('h6');
                font-size: 1rem;
              }
              &:nth-child(2) {
                // font-weight: 500;
                font-weight: 300;
                font-size: $main-font-size;
              }
            }
          }
        }
      }

      .block-header {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;

        .header-title {
          span {
            @include text('h5');
            font-size: 17px;
            line-height: 17px;
            white-space: nowrap;
          }
        }
        .header-divider {
          width: 100%;
          border-bottom: 2px solid $hint-ish-grey;
          margin-left: 1.5rem;
        }
      }
    }

  }

  .right {
    border: 1px solid red;
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
}
.contact-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  &.highlight {
    background-color: $highlight;
  }
}


$controls-padding:25px;
$controls-content: 375px;
.style-controls {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc($controls-content + ($controls-padding *2));
  box-shadow: 0px 0px 18px #00000040;

  .control-content-area {
    padding: $controls-padding;
    padding-bottom: calc($controls-padding * 2);
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    position: relative;
  }
  .title {
    width: 100%;
    padding-top: 10px;
    font-size: 17.5px;
    font-weight: 600;
    letter-spacing: -0.05rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    border-bottom: 1px solid $hint-ish-grey;
    border-bottom: 2px solid $ish-black;
  }

  .control {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .label {
      width: 200px;
      white-space: nowrap;
      text-align: left;
      h6 {
        font-size: 11px;
      }
    }
    .field {
      white-space: nowrap;
      input {
        padding-left: 10px;
        height: 30px;
        width: 100px;
        margin-left: 1rem;
      }


      .unit {
        display: inline-block;
        width: 60px;
        padding-left: 0.5rem;
        font-size: 1.05rem;
        white-space: nowrap;
      }

      .placeholder-field {
        width: 160px;
        display: inline-flex;
        .material-icons {
          font-size: 18px;
        }
      }
    }
  }

  .action-buttons {
    background-color: white;
    display: block;
    width: calc($controls-content + ($controls-padding * 2));
    position: fixed;
    height: fit-content;
    bottom: 0;
    right: 0;
    padding-bottom: $controls-padding;
    padding-top: $controls-padding;
    box-shadow: 3px 3px 12px #00000050;


    a:nth-child(1) {
      margin-left: 20px;
    }
    a:hover {
      box-shadow: 3px 3px 12px #00000070;
    }
  }
}

.highlight {
  background-color: $highlight;
}

/* ------------------------------- HIGHLIGHTS ------------------------------- */
.doc-data {
  .margin-highlight {
    display: block;
    position: absolute;
    background-color: $highlight;
    &.top {
      top: 0;
      left: 0;
      right: 0;
    }
    &.bottom {
      bottom: 0;
      left: 0;
      right: 0;
    }
    &.left {
      left: 0;
      top: 0;
      bottom: 0;
    }
    &.right-highlight {
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.section-highlight {
  width: 100%;
  background-color: $highlight;
}
.project-details {
  p {
    line-height: $main-line-height;
  }
  &.highlight {
    background-color: $highlight;
  }
}
.skill.highlight {
  background-color: $highlight;
}

.print-button {
  background-color: $ish-black;
  color: $steel-light;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;

  &:hover {
    transform: scale(1.1);
  }
}

.work-title-company {
  padding-left: 1.5rem;
}

.summary-para {
  font-weight: 300;
  font-size: 1.2rem !important;
  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}




h6 {
  &.page-break-after-label {
    margin-bottom: -0.1rem;
  }
}



/* -------------------------------- WATERMARK ------------------------------- */
.watermark-area {
  width: 100%;
  margin-top: 2rem;
  text-align: right;

  .watermark {
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.88rem;
    letter-spacing: 0.07rem;
    background-color: $ish-grey;
    padding: 0.5rem 0.8rem;
    border-radius: 3px;
    color: $ish-black;
    strong {
      font-weight: 700;
    }

  }
}
