<app-action-bar
  [button]="button"
  [showsSpinner]="showsSpinner"
  [title]="'Summary'">
</app-action-bar>

<ng-container *ngIf="(resume.summary$ | async)">
  <div class="clear-block">
    <a
      (click)="onClearAll()"
      class="clear-all-btn">
      <i class="material-icons">clear_all</i>
      <span>
        Clear All
      </span>
    </a>
  </div>
</ng-container>
<div class="form">
  <!-- ------------------------- FIRST AND LAST NAME ------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        First
      </label>
      <input
        (focusout)="onUpdateSummary();showsSpinner = true"
        name="first_name"
        [(ngModel)]="summary.first_name"
        type="text"
        #firstField>
    </div>

    <div class="form-group">
      <label>
        Last
      </label>
      <input
        (focusout)="onUpdateSummary(); showsSpinner = true;"
        name="last_name"
        [(ngModel)]="summary.last_name"
        type="text">
    </div>
  </div>

  <!-- ---------------------------- EMAIL & PHONE ---------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>Email</label>
      <input
        name="email"
        (focusout)="onUpdateSummary(); showsSpinner = true;"
        [(ngModel)]="summary.email"
        type="text">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input
        name="phone"
        (focusout)="onUpdateSummary(); showsSpinner = true;"
        [(ngModel)]="summary.phone"
        type="text">
    </div>
  </div>

  <!-- ------------------------- LOCATION & WEBSITE -------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>Location</label>
      <input
        name="location"
        (focusout)="onUpdateSummary(); showsSpinner = true"
        [(ngModel)]="summary.location"
        type="text">
    </div>

    <div class="form-group">
      <label>URL</label>
      <input
        name="url"
        (focusout)="onUpdateSummary(); showsSpinner = true"
        [(ngModel)]="summary.url"
        type="text">
    </div>
  </div>

  <!-- ------------------------ TWITTER AND LINKEDIN ------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        twitter.com/...
      </label>
      <input
        name="twitter"
        (focusout)="onUpdateSummary(); showsSpinner = true"
        [(ngModel)]="summary.twitter_handle"
        type="text">
    </div>

    <div class="form-group">
      <label>
        linkedin.com/in/...
      </label>
      <input
        name="linkedin"
        (focusout)="onUpdateSummary(); showsSpinner = true"
        [(ngModel)]="summary.linkedin_handle"
        type="text">
    </div>
  </div>

  <!-- -------------------------- GITHUB & ALT URL --------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        github.com/...
      </label>
      <input
        name="github"
        (focusout)="onUpdateSummary(); showsSpinner = true"
        [(ngModel)]="summary.github_handle"
        type="text">
    </div>

    <div class="form-group">
      <label>
        Alt URL
      </label>
      <input
        name="altUrl"
        (focusout)="onUpdateSummary(); showsSpinner = true"
        [(ngModel)]="summary.alt_url"
        type="text">
    </div>
  </div>

  <!-- -------------------------- SUMMARY-OBJECTIVE -------------------------- -->
  <label class="quill-label mt-5">
    <div class="line"></div>
    Summary Objective
  </label>
  <quill-editor
    (focusout)="onUpdateSummary(); showsSpinner = true"
    [placeholder]="' '"
    [modules]="modules"
    [style]="style"
    [style.width]="'inherit'"
    name="summaryObjective"
    type="text"
    [(ngModel)]="summary.summary_objective"
    >
  </quill-editor>

</div>
