<app-action-bar
  [button]="button"
  [title]="viewTitle">
</app-action-bar>

<div class="pt-5"></div>
<div class="clear-block">
  <a
    (click)="ss.onClearSummary()"
    class="clear-all-btn">
    <i class="material-icons">clear_all</i>
    <span>
      Clear All
    </span>
  </a>
</div>
<div class="form">
  <!-- ------------------------- FIRST AND LAST NAME ------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        First
      </label>
      <input
        (focusout)="onUpdateSummary();spin.firstName = true"
        name="first_name"
        [(ngModel)]="summary.first_name"
        type="text"
        #firstField>
        <app-spinner [spin]="spin.firstName"></app-spinner>
    </div>

    <div class="form-group">
      <label>
        Last
      </label>
      <input
        (focusout)="onUpdateSummary(); spin.lastName = true;"
        name="last_name"
        [(ngModel)]="summary.last_name"
        type="text">
        <app-spinner [spin]="spin.lastName"></app-spinner>
    </div>
  </div>

  <!-- ---------------------------- EMAIL & PHONE ---------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>Email</label>
      <input
        name="email"
        (focusout)="onUpdateSummary(); spin.email = true;"
        [(ngModel)]="summary.email"
        type="text">
        <app-spinner [spin]="spin.email"></app-spinner>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input
        name="phone"
        (focusout)="onUpdateSummary(); spin.phone = true;"
        [(ngModel)]="summary.phone"
        type="text">
        <app-spinner [spin]="spin.phone"></app-spinner>
    </div>
  </div>

  <!-- ------------------------- LOCATION & WEBSITE -------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>Location</label>
      <input
        name="location"
        (focusout)="onUpdateSummary(); spin.location = true"
        [(ngModel)]="summary.location"
        type="text">
        <app-spinner [spin]="spin.location"></app-spinner>
    </div>

    <div class="form-group">
      <label>URL</label>
      <input
        name="url"
        (focusout)="onUpdateSummary(); spin.url = true"
        [(ngModel)]="summary.url"
        type="text">
        <app-spinner [spin]="spin.url"></app-spinner>
    </div>
  </div>

  <!-- ------------------------ TWITTER AND LINKEDIN ------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        twitter.com/...
      </label>
      <input
        name="twitter"
        (focusout)="onUpdateSummary(); spin.twitterHandle = true"
        [(ngModel)]="summary.twitter_handle"
        type="text">
        <app-spinner [spin]="spin.twitterHandle"></app-spinner>
    </div>

    <div class="form-group">
      <label>
        linkedin.com/in/...
      </label>
      <input
        name="linkedin"
        (focusout)="onUpdateSummary(); spin.linkedinHandle = true"
        [(ngModel)]="summary.linkedin_handle"
        type="text">
        <app-spinner [spin]="spin.linkedinHandle"></app-spinner>
    </div>
  </div>

  <!-- -------------------------- GITHUB & ALT URL --------------------------- -->
  <div class="double-row">
    <div class="form-group">
      <label>
        github.com/...
      </label>
      <input
        name="github"
        (focusout)="onUpdateSummary(); spin.githubHandle = true"
        [(ngModel)]="summary.github_handle"
        type="text">
        <app-spinner [spin]="spin.githubHandle"></app-spinner>
    </div>

    <div class="form-group">
      <label>
        Alt URL
      </label>
      <input
        name="altUrl"
        (focusout)="onUpdateSummary(); spin.altUrl = true"
        [(ngModel)]="summary.alt_url"
        type="text">
        <app-spinner [spin]="spin.altUrl"></app-spinner>
    </div>
  </div>

  <!-- -------------------------- SUMMARY-OBJECTIVE -------------------------- -->
  <label class="quill-label mt-5">
    <div class="line"></div>
    Summary Objective
    <app-spinner [spin]="spin.summaryObjective"></app-spinner>
  </label>
  <quill-editor
    (focusout)="onUpdateSummary(); spin.summaryObjective = true"
    [placeholder]="' '"
    [modules]="modules"
    [style]="style"
    [style.width]="'inherit'"
    name="summaryObjective"
    type="text"
    [(ngModel)]="summary.summary_objective"
    >
  </quill-editor>

</div>
